doctype html
html(lang='es' xmlns='http://www.w3.org/1999/xhtml')
	head
		title [labs.michis.me] Laboratorios libres

		//- Metadatos
		meta(charset='utf-8')
		meta(http-equiv='Content-type' content='text/html;charset=UTF-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
		meta(name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1')
		meta(name='apple-mobile-web-app-capable' content='yes')
		meta(name='apple-mobile-web-app-status-bar-style' content='black')
		meta(name='keywords' content='eps,uam,laboratorios,horario')
		meta(name='description' content='¿Qué laboratorios estan libres? Compruebalo rapidamente.')
		meta(name='author' content='MBlanc')

		link(href='img/favicon.ico?v=1' rel='shortcut icon' type='image/x-icon')

		//- Librerias
		script(type='text/javascript' src='//code.jquery.com/jquery-2.1.3.min.js')
		link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
		script(type='text/javascript' src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')

		//- User
		link(rel='stylesheet' href='style.css')
		script(type='text/javascript' src='app.js')

		<!--[if lt IE 9]>
		script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
		<![endif]-->

	body
		.container-fluid
			h2.text-center ¿Qué&nbsp;laboratorios estan&nbsp;libres?
			.floorplan
				//- Ala oeste
				.west
					.north
						.lab#8b
						.lab#8a
						.lab.double#7
					.south
						.lab#9
						.lab#10
						.lab#11
						.lab#12

				//- Ala este
				.east
					.north
						.lab#6b
						.lab#6a
						.lab#5b
						.lab#5a
					.south
						.lab#1
						.lab#2
						.lab#3
						.lab#4

				.middle
					.lab#14
					.lab#15
					.lab#16


		//- Footer
		footer
			//- Github ribbon
			a.ribbon(href='https://github.com/ManuelBlanc/ManuelBlanc.github.io' title="Fork me on GitHub")
			hr
			p Creado con <span class='heart'></span> por&nbsp;
				a(href='http://github.com/ManuelBlanc' target='_blank') Manuel Blanc.
				small  ¡Gracias a todos los que me echaron un cable!
				//-| Tambien puede interesante mi&nbsp;
				//-a(href='https://github.com/ManuelBlanc/eps-dotfiles') configuracion

