doctype html
html(lang='es' xmlns='http://www.w3.org/1999/xhtml')
	head
		title [labs.michis.me] Laboratorios libres

		//- Metadatos
		meta(charset='utf-8')
		meta(http-equiv='Content-type' content='text/html;charset=UTF-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
		meta(name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1')
		meta(name='apple-mobile-web-app-capable' content='yes')
		meta(name='apple-mobile-web-app-status-bar-style' content='black')
		meta(name='keywords' content='eps,uam,laboratorios,horario')
		meta(name='description' content='¿Qué laboratorios estan libres? Compruebalo rapidamente.')
		meta(name='author' content='MBlanc')

		link(href='img/favicon.ico?v=1' rel='shortcut icon' type='image/x-icon')
		link(rel='stylesheet' href='style.css')

		//- Librerias
		script(type='text/javascript' src='https://code.jquery.com/jquery-2.1.3.min.js')
		//-link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
		//-script(type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
		script(type='text/javascript' src='app.js')

		<!--[if lt IE 9]>
		script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
		<![endif]-->

	body
		.container
			h1 ¿Qué&nbsp;laboratorios estan&nbsp;libres?
			.floorplan
				//- Superiores == oeste
				ul.lab-group.north.west
					li.lab#8b
					li.lab#8a
					li.lab#7.double

				//- Superiores == este
				ul.lab-group.north.east
					li.lab#6b
					li.lab#6a
					li.lab#5b
					li.lab#5a

				//- Centrales
				ul.lab-group.center
					li.lab#14
					li.lab#15
					li.lab#16

				//- Inferiores == oeste
				ul.lab-group.south.west
					li.lab#9
					li.lab#10
					li.lab#11
					li.lab#12

				//- Inferiores == este
				ul.lab-group.south.east
					li.lab#1
					li.lab#2
					li.lab#3
					li.lab#4

			footer
				hr
				p ¿Ya estas en un laboratorio? Tambien puede interesarte mi&nbsp;
					a(href='https://github.com/ManuelBlanc/eps-dotfiles') configuración
					|  para los laboratorios.

		//- Github ribbon
		//-a.ribbon(href='https://github.com/ManuelBlanc/ManuelBlanc.github.io')
		//-	img(src='img/github_ribbon.png' alt='Fork me on GitHub')

