@import (reference) "lib/bootstrap/less/utilities.less";
@import (reference) "lib/bootstrap/less/variables.less";
@import (reference) "lib/bootstrap/less/mixins.less";

// Paleta de colores
@norm-color: #555;
@free-color: hsla(120, 75%, 27%, 0.85);
@busy-color: hsla(0, 100%, 27%, 0.85);
@soon-color: hsla(30, 90%, 47%, 0.95);
// #8E388E Morado

html, body {
	height: 100%;
	background-color: #999;
}
.container-fluid {
	position: relative;
	background-color: #afafaf;
	padding-top: 3%;
	padding-left: 5%;
	padding-right: 5%;
	box-shadow: 0 12px 50px -12px rgba(0,0,0,0.5);
}

h2 {
	margin-bottom: 1em;
}

// Contenedor del mapa
.floorplan {
	.make-row();
	padding-bottom: 3em;

	// Bloques de los lados
	.west, .east {
		.make-xs-column(12);
		.make-sm-column(6);
	}
	// Un poquito de padding
	.east { padding-left:  2em; }
	.west { padding-right: 2em; }
	.north, .south {
		.make-row();
	}
	.north {
		margin-bottom: 0.5em;
	}
	.south {
		margin-bottom: 2em;
	}

	.middle {
		.make-xs-column(12);
		.lab { .make-xs-column-push(1.5); }
		.make-sm-column(6);
		.make-sm-column-offset(3);
	}

	.lab {
		.make-xs-column(3);
		&.double {
			.make-xs-column(6);
		}

		// El fondo
		color: #eee;
		background: white;
		background-color: @norm-color;
		box-shadow: inset 0 0 2px black;

		// Posicion y tamaño
		height: 7em !important;
		padding: 0;

		// Redondeamos los bordes del primero y el ultimo
		&:first-child { .border-left-radius(8px);  }
		&:last-child  { .border-right-radius(8px); }

		&.busy { #gradient.vertical(lighten(@busy-color, 10%), @busy-color); }
		&.free { #gradient.vertical(@free-color, darken(@free-color, 4%)); }
		&.soon { #gradient.vertical(@soon-color, darken(@soon-color, 5%)); }

		.info {
			text-align: center;
			display: inline-block;
			width: 100%;

			font-size: 0.8em;
			&.activity {
				font-size: 1.2em;
				height: 1.2em;
			}

			text-shadow: none;
			margin-top: 0.2em;
			color: lighten(#eee, 15%);

			&.name {
				margin-top: 0;
				font-size: 2em;
				font-weight: bolder;
				text-shadow: 0 0 3px black;
				vertical-align: center;
			}
		}


	}

}

@keyframes heartbeat {
	from { .scale(1.05); }
	to   { .scale(1.00); }
}
@-webkit-keyframes heartbeat {
	from { .scale(1.05); }
	to   { .scale(1.00); }
}

footer {
	text-align: center;
	position: relative;
	hr {
		margin-top: 0;
		width: 100%;
		height: 12px;
		border: 0;
	}
	p {
		display: block;
		margin: 0 auto;
		padding: 0 0 20px 0;
		span.heart {
			display: inline-block;
			color: darkred;
			position: relative;
			.animation(heartbeat 1s infinite);
			&:before { content: "❤"; }
		}
	}
	small {
		display: block;
	}
}

.ribbon {
	// Image
	background: url('img/github_ribbon.png') no-repeat;
	background-size: contain;
	// Positioning & sizing
	position: absolute;
	top:  0;
	left: 0;
	min-height: 98px;
	min-width:  98px;
	height: 7em;
	width:  7em;
	// Opacity
	opacity: 0.6;
	.transition(0.5s opacity);
	&:hover { opacity: 1; }
}
