@import url(http://fonts.googleapis.com/css?family=Open+Sans:800,600,400);
.floorplan:before,
.floorplan:after,
.floorplan .north:before,
.floorplan .north:after,
.floorplan .south:before,
.floorplan .south:after {
  content: " ";
  display: table;
}
.floorplan:after,
.floorplan .north:after,
.floorplan .south:after {
  clear: both;
}
html,
body {
  height: 100%;
  background-color: #999;
  font-family: 'Open Sans', sans-serif;
}
.container-fluid {
  position: relative;
  background-color: #afafaf;
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
  box-shadow: 0 12px 50px -12px rgba(0, 0, 0, 0.5);
}
h2 {
  margin-bottom: 1em;
  font-weight: 600;
}
h2 strong {
  font-weight: 800;
  font-style: italic;
}
.floorplan {
  margin-left: -15px;
  margin-right: -15px;
  padding-bottom: 3em;
}
.floorplan .west,
.floorplan .east {
  float: left;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding: 0 2em;
}
@media (min-width: 768px) {
  .floorplan .west,
  .floorplan .east {
    float: left;
    width: 50%;
  }
}
.floorplan .north,
.floorplan .south {
  margin-left: -15px;
  margin-right: -15px;
}
.floorplan .south {
  margin-bottom: 1.2em;
}
.floorplan .middle .lab:first-child,
.floorplan .north .lab:first-child {
  border-top-left-radius: 4px;
}
.floorplan .middle .lab:last-child,
.floorplan .north .lab:last-child {
  border-top-right-radius: 4px;
}
.floorplan .middle .lab:first-child,
.floorplan .south .lab:first-child {
  border-bottom-left-radius: 4px;
}
.floorplan .middle .lab:last-child,
.floorplan .south .lab:last-child {
  border-bottom-right-radius: 4px;
}
.floorplan .middle {
  padding: 0 2em;
  float: left;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.floorplan .middle .lab {
  left: 12.5%;
}
@media (min-width: 768px) {
  .floorplan .middle {
    float: left;
    width: 50%;
  }
}
@media (min-width: 768px) {
  .floorplan .middle {
    margin-left: 25%;
  }
}
.floorplan .lab {
  position: relative;
  float: left;
  width: 25%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 7.5em !important;
  padding: 0;
  border-top: 1px solid #6f6f6f;
  border-right: 1px solid #6f6f6f;
  border-left: 1px solid #484848;
  border-bottom: 1px solid #484848;
  background: linear-gradient(#6f6f6f, #555555);
}
.floorplan .lab.double {
  position: relative;
  float: left;
  width: 50%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.floorplan .lab:focus {
  border-left: 1px solid #6f6f6f;
  border-bottom: 1px solid #6f6f6f;
  border-top: 1px solid #484848;
  border-right: 1px solid #484848;
  background: linear-gradient(#484848, #555555);
  outline: 0;
}
.floorplan .lab.busy {
  border-top: 1px solid rgba(189, 0, 0, 0.85);
  border-right: 1px solid rgba(189, 0, 0, 0.85);
  border-left: 1px solid rgba(112, 0, 0, 0.85);
  border-bottom: 1px solid rgba(112, 0, 0, 0.85);
  background: linear-gradient(rgba(189, 0, 0, 0.85), rgba(138, 0, 0, 0.85));
}
.floorplan .lab.busy:focus {
  border-left: 1px solid rgba(189, 0, 0, 0.85);
  border-bottom: 1px solid rgba(189, 0, 0, 0.85);
  border-top: 1px solid rgba(112, 0, 0, 0.85);
  border-right: 1px solid rgba(112, 0, 0, 0.85);
  background: linear-gradient(rgba(112, 0, 0, 0.85), rgba(138, 0, 0, 0.85));
  outline: 0;
}
.floorplan .lab.soon {
  border-top: 1px solid rgba(228, 120, 12, 0.95);
  border-right: 1px solid rgba(228, 120, 12, 0.95);
  border-left: 1px solid rgba(155, 82, 8, 0.95);
  border-bottom: 1px solid rgba(155, 82, 8, 0.95);
  background: linear-gradient(rgba(228, 120, 12, 0.95), rgba(179, 94, 9, 0.95));
}
.floorplan .lab.soon:focus {
  border-left: 1px solid rgba(228, 120, 12, 0.95);
  border-bottom: 1px solid rgba(228, 120, 12, 0.95);
  border-top: 1px solid rgba(155, 82, 8, 0.95);
  border-right: 1px solid rgba(155, 82, 8, 0.95);
  background: linear-gradient(rgba(155, 82, 8, 0.95), rgba(179, 94, 9, 0.95));
  outline: 0;
}
.floorplan .lab.free {
  border-top: 1px solid rgba(24, 165, 24, 0.85);
  border-right: 1px solid rgba(24, 165, 24, 0.85);
  border-left: 1px solid rgba(14, 98, 14, 0.85);
  border-bottom: 1px solid rgba(14, 98, 14, 0.85);
  background: linear-gradient(rgba(24, 165, 24, 0.85), rgba(17, 120, 17, 0.85));
}
.floorplan .lab.free:focus {
  border-left: 1px solid rgba(24, 165, 24, 0.85);
  border-bottom: 1px solid rgba(24, 165, 24, 0.85);
  border-top: 1px solid rgba(14, 98, 14, 0.85);
  border-right: 1px solid rgba(14, 98, 14, 0.85);
  background: linear-gradient(rgba(14, 98, 14, 0.85), rgba(17, 120, 17, 0.85));
  outline: 0;
}
.floorplan .lab .info {
  text-align: center;
  display: inline-block;
  margin-top: 0.2em;
  width: 100%;
  font-size: 0.8em;
}
.floorplan .lab .info.activity {
  color: rgba(255, 255, 255, 0.85);
  font-size: 1.2em;
  height: 1.2em;
  text-shadow: 0 0 1px #000000;
}
.floorplan .lab .info.timeUntilChange {
  color: rgba(255, 255, 255, 0.65);
}
.floorplan .lab .info.name {
  margin-top: 0;
  font-size: 2em;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: -1px 1px 0 rgba(136, 136, 136, 0.3);
  opacity: 0.7;
  vertical-align: center;
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  to {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  to {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
footer {
  text-align: center;
  position: relative;
}
footer hr {
  margin-top: 0;
  width: 100%;
  height: 12px;
  border: 0;
}
footer p {
  display: block;
  margin: 0 auto;
  padding: 0 0 20px 0;
}
footer p span.heart {
  font-size: 0;
  color: darkred;
  display: inline-block;
  -webkit-animation: heartbeat 1s ease-out infinite;
  -o-animation: heartbeat 1s ease-out infinite;
  animation: heartbeat 1s ease-out infinite;
}
footer p span.heart:before {
  content: '❤';
  font-size: 18px;
}
footer small {
  display: block;
}
.ribbon {
  background: url('img/github_ribbon.png') no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 98px;
  min-width: 98px;
  height: 7em;
  width: 7em;
  z-index: 999;
  opacity: 0.6;
  -webkit-transition: 0.5s opacity;
  -o-transition: 0.5s opacity;
  transition: 0.5s opacity;
}
.ribbon:hover {
  opacity: 1;
}
